@font-face {
    font-family: "MyFont";
    src: url("../Fonts/Kaushan/KaushanScript-Regular.otf");
}

@font-face {
    font-family: "MyFont2";
    src: url("../Fonts/pippoin/Poppins-BlackItalic.ttf");
}
